<button mat-raised-button class="menuTrigger" [matMenuTriggerFor]="colors_menu">
  Sort <mat-icon>sort</mat-icon>
</button>

<mat-menu #colors_menu="matMenu">
  <mat-label style="margin-left: 10px"> Sort By</mat-label>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Event #
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Ownership
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Delay Dispatch
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Nexty Notify Time
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    EVA
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Priority
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Active User
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    City
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    State
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Sort Ascending
  </button>
  <button mat-menu-item (click)="selectColor($event)">
    <mat-icon class="empty">check_box_outline_blank</mat-icon>
    <mat-icon class="checked blue">check_box</mat-icon>
    Sort Descending
  </button>
</mat-menu>

<!-- #enddocregion color menu -->
<!-- #docregion top level animal menu -->

<mat-menu #animals_menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="amphibians_menu">
    Amphibians ({{selectedAmphibianCount}})
  </button>
  <button mat-menu-item [matMenuTriggerFor]="fish_menu">
    Fishes ({{selectedFishCount}})
  </button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles_menu">
    Reptiles ({{selectedReptileCount}})
  </button>
</mat-menu>

<!-- #enddocregion top level animal menu -->
<!-- #docregion data driven sub-menus -->

<mat-menu #amphibians_menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let amphibian of amphibians"
    (click)="selectAnimal($event, amphibian)"
  >
    <mat-icon color="{{amphibian.selected?'primary':''}}"
      >{{amphibian.selected?'check_box':'check_box_outline_blank'}}</mat-icon
    >{{amphibian.name}}
  </button>
</mat-menu>

<mat-menu #fish_menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let fish of fishes"
    (click)="selectAnimal($event, fish)"
  >
    <mat-icon color="{{fish.selected?'primary':''}}"
      >{{fish.selected?'check_box':'check_box_outline_blank'}}</mat-icon
    >{{fish.name}}
  </button>
</mat-menu>

<mat-menu #reptiles_menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let reptile of reptiles"
    (click)="selectAnimal($event, reptile)"
  >
    <mat-icon color="{{reptile.selected?'primary':''}}"
      >{{reptile.selected?'check_box':'check_box_outline_blank'}}</mat-icon
    >{{reptile.name}}
  </button>
</mat-menu>

<!-- #enddocregion data driven sub-menus -->

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
